@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@300;500;700&display=swap');

:root {
  --fira-code: 'Fira Code', monospace;
  --roboto-mono: 'Roboto', sans-serif;
}

* {
  margin: 0;
}

.box1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem 0;
  background-color: #e6af25;
  height: 120px;
}

.starfruit {
  width: 10rem;
  border-radius: 5px;
}

.contatos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  margin-right: 0;
}

.text-right{
  margin: 0 0 0 13rem !important;
}

.box2{
  background-color: #e6af25;
  height: 30px;
  text-align: right;
  padding-right: 3rem;
}

.redes{
  font-size: 3.5rem !important;
  color: #6F0911;
}

.github{
  font-size: 2.9rem !important;
  color: #6F0911;
}

.redesocial {
  display: flex;
  align-items: center;
  margin: 0 0 0 14rem;
}

.textos{
 color: #6F0911;
 font-family: var(--roboto-mono);
 font-weight: 500;
}

.site {
  text-decoration-color: #e6af25;
}